html, body, h1, h2, h3, section, main, aside, article, p {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}

body > header {
    background-color: blueviolet;
}
body > section {
    display: flex;
}
main {
    background-color: chartreuse;
}
aside {
    background-color: cadetblue;
}
footer {
    height: 2rem;
    background-color: coral;
}